AeroPlayer/.vs/
AeroPlayer/AeroPlayer/bin/
AeroPlayer/AeroPlayer/obj
AeroPlayer\AeroPlayerService\bin
AeroPlayer\AeroPlayerService\obj
AeroPlayerService/AeroPlayerService/bin/
AeroPlayerService/AeroPlayerService/obj/