Aero-Player\AeroPlayer\AeroPlayer\bin
AeroPlayer/.vs/
Aero-Player\AeroPlayer\AeroPlayer\obj
Aero-Player\AeroPlayer/AeroPlayer/obj/
Aero-Player\AeroPlayer\AeroPlayerService\bin
Aero-Player\AeroPlayer\AeroPlayerService\obj